# {{ ansible_managed }}.

[Unit]
Description=Kuma Control Plane in Universal mode
After=network.target
Documentation=https://kuma.io

StartLimitIntervalSec=0
StartLimitBurst=0

[Install]
WantedBy=multi-user.target

[Service]
EnvironmentFile=-/etc/sysconfig/kuma-cp

ExecStart={{ kuma_bindir }}/kuma-cp run \
    --log-level=${KUMA_LOG_LEVEL} \
    --config-file="{{ kuma_confdir }}/kuma.conf"

Restart=always
RestartSec=1s

User=kuma

LimitNOFILE=1048576
