# Set to "1" when all the required options are set
ENV_SOURCED=0

# Required parameters
DP_SECURITY_GROUP_IDS=
DP_SUBNET_ID=
DP_IAM_INSTANCE_PROFILE=
DP_KEY_NAME=
DP_WORK_QUEUE_URL=
DP_TEST_BUCKET=


DP_AMI_IMAGE=ami-033ac64bdaf7c5369
DP_INSTANCE_TYPE=t2.micro
DP_USER_DATA_FILE=/home/ubuntu/tests/user_data_eks.sh
DP_KUMA_PKG=/home/ubuntu/kuma.tgz

